@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/spartan');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
