:root {
	--white: #ffffff;
	--secondary: rgba(216, 216, 216, 0.2);
	--dark: #070724;
	--dark-grey: #38384f;
	--grey: #838391;
	--moonstone: #419ebb;
	--indian-yellow: #eda249;
	--blue-violet: #6f2ed6;
	--cinnabar: #d14c32;
	--cg-red: #d83a34;
	--flame: #cd5120;
	--light-sea-green: #1ec2a4;
	--ultramarine-blue: #2d68f0;

	--mercury: #def4fc;
	--venus: #f7cc7f;
	--earth: #545bfe;
	--mars: #ff6a45;
	--jupiter: #ecad7a;
	--saturn: #fccb6b;
	--uranus: #65f0d5;
	--neptune: #497efa;

	--mercury-theme: #419ebb;
	--venus-theme: #eda249;
	--earth-theme: #6d2ed5;
	--mars-theme: #d14c32;
	--jupiter-theme: #d83a34;
	--saturn-theme: #cd5120;
	--uranus-theme: #1ec1a2;
	--neptune-theme: #2d68f0;

	--ff-antonio: 'Antonio', sans-serif;
	--ff-spartan: 'Spartan', sans-serif;
}
