.Planet {
	width: 100%;
}

.Planet__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Planet__image {
	width: 100%;
	height: 304px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Planet__image img {
	transform: scale(0.38445);
}

.Planet__description {
	width: 100%;
}

.Planet__dynamic-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Planet__name {
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
	font-family: var(--ff-antonio);
	font-size: 40px;
	line-height: 52px;
}

.Planet__summary {
	margin-top: 16px;
	margin-bottom: 32px;
	color: var(--white);
	text-align: center;
	font-family: var(--ff-spartan);
	font-size: 12px;
	line-height: 24px;
}

.Planet__source {
	position: relative;
	color: var(--white);
	text-decoration: underline;
	font-family: var(--ff-spartan);
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	opacity: 0.5;
	mix-blend-mode: normal;
}

.Planet__source::before {
	content: 'Source :';
	display: inline-block;
	padding-right: 4px;
	color: var(--white);
	font-family: var(--ff-spartan);
	font-size: 12px;
	line-height: 24px;
	opacity: 0.5;
	mix-blend-mode: normal;
}

.Planet__source::after {
	content: '';
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	right: calc(-12px - 4px);
	top: 50%;
	transform: translateY(-50%);
	background: url('../../assets/icon-source.svg') no-repeat;
}

.Planet__info__buttons {
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	height: 50px;
	padding-inline: var(--padding-x);
	display: flex;
	justify-content: space-between;
}

.Planet__info__buttons::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background-color: var(--white);
	opacity: 0.25;
}

.Planet__info__button {
	width: 80px;
	position: relative;
	background-color: transparent;
	color: var(--white);
	border: 0;
	outline: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.92857px;
	font-family: var(--ff-spartan);
	font-weight: 700;
	font-size: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.Planet__info__button span {
	display: none;
}

.Planet__info__button--active {
	opacity: 1;
}

.Planet__info__button--active::after {
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background-color: var(--white);
}

.Planet__details {
	width: 100%;
	margin-top: 28px;
	margin-bottom: 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.Planet__detail {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.Planet__detail__label,
.Planet__detail__value {
	color: var(--white);
	text-transform: uppercase;
}

.Planet__detail__label {
	line-height: 16px;
	letter-spacing: 0.727273px;
	font-family: var(--ff-spartan);
	font-weight: 700;
	font-size: 8px;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.Planet__detail__value {
	height: 26px;
	line-height: 26px;
	letter-spacing: -0.75px;
	font-family: var(--ff-antonio);
	font-size: 20px;
}

@media (min-width: 768px) {
	.Planet__image {
		height: 460px;
	}

	.Planet__image img {
		transform: scale(0.63445);
	}

	.Planet__description {
		display: flex;
		align-items: center;
		gap: 70px;
	}

	.Planet__dynamic-info {
		align-items: flex-start;
	}

	.Planet__name {
		font-size: 48px;
		line-height: 62px;
	}

	.Planet__summary {
		margin-top: 24px;
		text-align: left;
	}

	.Planet__info__buttons {
		position: initial;
		height: auto;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}

	.Planet__info__buttons::after {
		display: none;
	}

	.Planet__info__button {
		width: 280px;
		text-align: left;
		opacity: 1;
		padding: 8px 20px;
		border: 1px solid rgba(255, 255, 255, 0.2);
	}

	.Planet__info__button span {
		height: 24px;
		line-height: 24px;
		display: inline-block;
		margin-right: 14px;
		color: var(--white);
		text-transform: uppercase;
		letter-spacing: 1.92857px;
		font-family: var(--ff-spartan);
		font-weight: 700;
		font-size: 10px;
		mix-blend-mode: normal;
		opacity: 0.5;
	}

	.Planet__info__button--active {
		background-color: var(--earth);
	}

	.Planet__info__button--active::after {
		display: none;
	}

	.Planet__details {
		margin-bottom: 36px;
		flex-direction: row;
		gap: 10px;
	}

	.Planet__detail {
		height: 88px;
		padding: 16px;
		display: flex;
		flex-direction: column;
		justify-content: initial;
		align-items: initial;
		gap: 6px;
	}

	.Planet__detail__value {
		height: 30px;
		line-height: 30px;
		letter-spacing: -0.9px;
		font-size: 24px;
	}
}
