.App__main {
	margin-top: 120px;
	padding-inline: var(--padding-x);
	color: var(--white);
}

@media (min-width: 768px) {
	.App__main {
		margin-top: 160px;
	}
}

@media (min-width: 1200px) {
	.App__main {
		margin-top: calc(85px + 126px);
	}
}
